<template name="_header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">{{_ "toggle_navigation"}}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'volunteerHome'}}">{{_ "site_title"}}</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">{{_ "welcome"}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="{{isActiveRoute 'volunteerForm'}}">
                  <a href="{{pathFor 'volunteerForm'}}">{{_ "edit_profile"}}</a>
                </li>
                <li class="{{isActiveRoute 'volunteerShifts'}}">
                  <a href="{{pathFor 'volunteerShifts'}}">{{_ "signups"}}</a>
                </li>
                <!-- <li class="{{isActiveRoute 'atChangePwd'}}">
                  <a href="{{pathFor 'atChangePwd'}}"> {{_ "change_password"}}</a>
                </li> -->
                {{#if isImpersonating}}
                  <li><a data-action="unimpersonate">{{_ "Click to unimpersonate"}}</a></li>
                {{/if}}
              </ul>
            </li>
          {{/if}}
          {{#if isInRole 'manager'}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">{{_ "forms"}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="{{isActiveRoute 'divisionsList'}}">
                  <a href="{{pathFor 'divisionsList'}}">{{_ "all_divisions"}}</a>
                </li>
                <li class="{{isActiveRoute 'departmentsList'}}">
                  <a href="{{pathFor 'departmentsList'}}">{{_ "all_departments"}}</a>
                </li>
                <li class="{{isActiveRoute 'teamList'}}">
                  <a href="{{pathFor 'teamList'}}">{{_ "all_team"}}</a>
                </li>
                <li class="{{isActiveRoute 'divisionAdd-test'}}">
                  <a href="{{pathFor 'divisionAdd-test'}}">{{_ "new_division"}}</a>
                </li>
                <!-- <li class="{{isActiveRoute 'departmentAdd'}}">
                  <a href="{{pathFor 'departmentAdd'}}">{{_ "new_department"}}</a>
                </li>
                <li class="{{isActiveRoute 'teamAdd'}}">
                  <a href="{{pathFor 'teamAdd'}}">{{_ "new_team"}}</a>
                </li> -->
                <li class="{{isActiveRoute 'volunteerFormBuilder'}}">
                  <a href="{{pathFor 'volunteerFormBuilder'}}">{{_ "volunteer_formBuilder"}}</a>
                </li>
              </ul>
            </li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">{{_ "views"}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="{{isActiveRoute 'teamDayView'}}">
                  <a href="{{pathFor 'teamDayView'}}">{{_ "team_dashboard"}}</a>
                </li>
              </ul>
            </li> -->
          {{/if}}
    		  {{> atNavButton}}
        </ul>
      </div>
    </div>
  </nav>
</template>
