<template name="teamList">
  <ul>
  {{#each team}}
    <li>
      {{name}}
      <!-- <a href="{{pathFor 'teamEdit-test' _id=_id}}">(edit)</a> -->
      <a href="{{pathFor 'teamView-test' _id=_id}}"> (view user)</a>
      <a href="{{pathFor 'teamEdit-test' _id=_id}}"> (view admin)</a>
    </li>
  {{/each}}
  </ul>
</template>

<template name="divisionsList">
  <ul>
  {{#each divisions}}
    <li>
      {{name}} <a href="{{pathFor 'divisionView-test' _id=_id}}">(edit)</a>
    </li>
  {{/each}}
  </ul>
</template>

<template name="departmentsList">
  <ul>
  {{#each departments}}
    <li>
      {{name}} <a href="{{pathFor 'departmentView-test' _id=_id}}">(edit)</a>
    </li>
  {{/each}}
  </ul>
</template>

<template name="home">
  {{#unless currentUser}}
    {{> atForm state="signIn"}}
  {{else}}
    {{> volunteerHome }}
  {{/unless}}
</template>

<template name="volunteerHome">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
            <!-- {{picture}} -->
          <div class="panel-heading">
            <h1 class="panel-title">
              {{_ "welcome"}} {{ name}}
            </h1>
            <a href="{{pathFor 'volunteerForm'}}">{{_ "edit"}}</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <a class="btn btn-default" href="{{pathFor 'volunteerShifts'}}">{{_ "signups"}}</a>
        {{> volunteerUserShifts }}
      </div>
    </div>
  </div>
</template>

<!-- <template name="volunteer">
  <h1>Personal Information</h1>
  {{> addVolunteerForm }}
</template> -->

<!-- <template name="volunteerShifts">
  <h1>Shift Selection</h1>
  {{> volunteerShiftsForm }}
</template> -->
