<template name="userLayout">
  {{> _header}}
  <!-- {{> sAlert}} -->
  <!-- {{> connectionBanner}} -->
  <div class="container">
    <div class="container-fluid main-container">
      {{> yield}}
    </div>
  </div>
  <!-- {{> _footer}} -->
</template>
